@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: rgb(0, 0, 0) !important;
}

body {
	border-color: rgb(243, 244, 246);
	border-radius: 1%;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}



.about-me {
	background-color: rgb(218, 230, 241);
}

.daisy-ui-logo {
	width: 70px;
}

.contactio-img{
	width: 250px;
}